<mat-card class="card-movie">
  <mat-card-content>
    <div>
      <p class="lbl-title">title:{{movie.title | titlecase }}</p>
      <p class="lbl-description">description:{{movie.description}}</p>
      <p class="lbl-year">year:{{movie.year}}</p>
      <p class="lbl-director">director:{{movie.director | uppercase}}</p>

      <div style="display: flex">
        <div class="example-button-container">
          <button mat-mini-fab color="primary" style="margin-right: 16px" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab color="accent" (click)="onEdit()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>

